<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- loop over the collection of products -->
                <div *ngFor="let product of products" class="col-md-3">
                    <div class="product-box">
                        <button routerLink="/product/{{product.id}}"><img src="{{product.imageURL}}" alt="" class="img-responsive"></button>
                        <button routerLink="/product/{{product.id}}">
                            <h1>{{product.name}}</h1>
                        </button>
                        <div class="price">{{product.unitPrice | currency:'INR'}}</div>
                        <button (click)="addToCart(product)" class="primary-btn">Add to Cart</button>
                    </div>
                </div>

                <!--If no product found then display msg-->
                <div *ngIf="products?.length===0" class="alert alert-warning col-md-12" role="alert">
                    No Product Found !
                </div>
            </div>

            <!--begin footer-->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%;">
                                <ngb-pagination [(page)] = "pageNumber" 
                                                [pageSize] = "pageSize"
                                                [collectionSize]="totalElement"
                                                (pageChange)="listProducts()"
                                                [maxSize]="5"
                                                [boundaryLinks]="true">

                                </ngb-pagination>
                            </div>
                            <div class="col-md-3 mt-2" style="text-align: right;">
                                <span class="mr-2">Page Size </span>
                                <select (change)="updatePageSize($event.target.value)">
                                    <option selected="true">10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>70</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end footer-->
        </div>
    </div>
</div>